.card-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    gap: 50px;
}

.card {
    flex: 2;
    max-width: 70px;
    height: 400px;
    transition: 0.2s ease;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 10px 0px white;
    -moz-box-shadow: 0px 0px 10px 0px white;
    box-shadow: 0px 0px 10px 0px white;
    margin: -1px;
    overflow:hidden;
    transition: 0.2s ease;
}