#product-header-container {
    height: 250px;
    background: rgba(0, 0, 0, 0) linear-gradient(96.84deg, rgba(20, 241, 149, 0.16) 1.04%, rgba(20, 241, 149, 0.027) 98.99%) repeat scroll 0% 0%;
    border-top: 4px solid #14F195;
    border-bottom: 4px solid #14F195;
}

#product-header-left {
    flex: 4;
    margin-left: 50px;
    margin-right: 50px;
}

#product-header-right {
    flex: 2;
    overflow: hidden;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#logo-background {
    shape-outside: circle();
    clip-path: circle();
    height:120%;
    width:120%;
    background: #063024;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    #product-header-right {
        flex: 0;
    }
  }