.header {
    background-color: #15171a;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.path-link:hover{
    color: white
}

#connect-wallet-link {
    color: rgb(22, 206, 185)
}

#connect-wallet-link:hover {
    color: rgba(22, 206, 185, 0.281)
}