.page {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #212529;
    height: 100%;
    min-height: 100vh;
}

@font-face {
    font-family: VCR;
    src: url(./assets/fonts/VCR\ OSD\ Mono\ 400.ttf);
}